.post {
	width: 100%;
	margin-top: 15px;
	box-shadow: 0 5px 7px -7px;
	background-color: white;
	border-radius: 15px;
}
.post__top {
	display: flex;
	position: relative;
	align-items: center;
	margin: 15px;
}
.post__avatar {
	margin-right: 10px;
}
.post__topInfo > h3 {
	font-size: medium;
}
.post__topInfo > p {
	font-size: small;
	color: gray;
}
.post__bottom {
	margin: 10px 0;
	padding: 15px 25px;
}
.post__image > img {
	width: 100%;
	border-bottom: 15px;
}
.post__options {
	display: flex;
	justify-content: space-evenly;
	border-top: 1px solid lightgray;
	font-size: medium;
	color: gray;
	cursor: pointer;
	padding: 15px;
}
.post__option {
	display: flex;
	justify-content: center;
	flex: 1;
	padding: 5px;
}
.post__option > p {
	margin-left: 10px;
}
.post__option:hover {
	background-color: #eff2f5;
	border-radius: 10px;
}
