*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

:root {
  --body: #ffffff;
  --text: #363636;
  --text-light: #898989;
  --primary: #1bbeff;
  --border: #bbbbbb;
  --padding: 16px 24px;
  --line-height: 24px;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  background: #ffffff;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.app {
  padding: 16px 8px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.split-selection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.splits {
  margin: 36px 0;
  width: 100%;
  height: 100%;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #794d1f;
  border-radius: 8px;
}

.app__body {
  display: flex;
}
.errMsg {
  color: red;
}
.successMsg {
  color: green;
}

.input-group {
  width: 360px;
  position: relative;
  border: 3px solid var(--border);
  border-radius: 8px;
  margin: auto;
  margin-top: 32px;
}
.input-group input {
  padding: var(--padding);
  border: none;
  background-color: transparent;
  width: 100%;
  color: var(--text);
  font-size: 16px;
  line-height: var(--line-height);
}

.input-group:hover,
.input-group:focus-within {
  border-color: var(--primary);
}

.input-group input:focus,
.input-group:hover input {
  color: var(--primary);
}

.input-group label {
  position: absolute;
  background-color: transparent;
  padding: var(--padding);
  line-height: var(--line-height);
  top: 0;
  left: 0;
  bottom: 0;
  color: var(--text-light);
  cursor: text;
}

.input-group:hover label {
  color: var(--primary);
}

.input-group:focus-within label,
.input-group input:not(:placeholder-shown) ~ label {
  padding: 0px 8px;
  background-color: var(--body);
  top: -12px;
  left: 16px;
  bottom: auto;
  color: var(--text);
}